<section class="workout-plan">
	<div class="container">
		<div class="row">
			<div class="top-content">
				<h1 class="plan-head">PLANNING</h1>
			</div>


			<div id="month-slide" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner">
					<div class="item">
					<h1 class="month">March - April 2017</h1>
						<div class="bottom-content">
				<ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#menu1">27/2 - 05/03</a></li>
				    <li><a data-toggle="tab" href="#menu2">06/03 - 12/03</a></li>
				    <li><a data-toggle="tab" href="#menu3">13/2 - 19/03</a></li>
				    <li><a data-toggle="tab" href="#menu4">20/2 - 06/03</a></li>
  				</ul>

			  <div class="tab-content">
			    <div id="menu1" class="tab-pane fade in active">
			        
			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    

			    </div>
			    <div id="menu2" class="tab-pane fade">
			    	
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	
			    </div>
			    <div id="menu3" class="tab-pane fade">

			      	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    
			    </div>
			    <div id="menu4" class="tab-pane fade">
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    
			    </div>
			  </div>
			</div>	
					</div>
					<div class="item">
					<h1 class="month">May - June 2017</h1>
						<div class="bottom-content">
				<ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#menu5">27/2 - 05/03</a></li>
				    <li><a data-toggle="tab" href="#menu6">06/03 - 12/03</a></li>
				    <li><a data-toggle="tab" href="#menu7">13/2 - 19/03</a></li>
				    <li><a data-toggle="tab" href="#menu8">20/2 - 06/03</a></li>
  				</ul>

			  <div class="tab-content">
			    <div id="menu5" class="tab-pane fade in active">
			        
			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    

			    </div>
			    <div id="menu6" class="tab-pane fade">
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	
			    </div>
			    <div id="menu7" class="tab-pane fade">
			      	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    
			    </div>
			    <div id="menu8" class="tab-pane fade">
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			   
			    </div>
			  </div>
			</div>	
					</div>
					<div class="item active">
					<h1 class="month">June - July 2017</h1>
						<div class="bottom-content">
				<ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#menu9">27/2 - 05/03</a></li>
				    <li><a data-toggle="tab" href="#menu10">06/03 - 12/03</a></li>
				    <li><a data-toggle="tab" href="#menu11">13/2 - 19/03</a></li>
				    <li><a data-toggle="tab" href="#menu12">20/2 - 06/03</a></li>
  				</ul>

			  <div class="tab-content">
			    <div id="menu9" class="tab-pane fade in active">
			        
			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			   

			    </div>
			    <div id="menu10" class="tab-pane fade">
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	
			    </div>
			    <div id="menu11" class="tab-pane fade">
			      	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    
			    </div>
			    <div id="menu12" class="tab-pane fade">
			        	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>27 Feb</p>
			    			<p>Mon</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Abdominal Bench</li>
			    				<li>Barbells</li>
			    				<li>Bench Press</li>
			    				<li>Cables and Pulleys</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>28 Feb</p>
			    			<p>Tue</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Calf Machine</li>
			    				<li>Dipping Bars</li>
			    				<li>Dumb Bells</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>1 Mar</p>
			    			<p>Wed</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Foam Roller</li>
			    				<li>Wall Ball</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>2 Mar</p>
			    			<p>Thur</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Incline Bench Press</li>
			    				<li>Kettle Bells</li>
			    				<li>Stability Ball</li>		
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>03 Mar</p>
			    			<p>Fri</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Curl Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>


			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>04 Mar</p>
			    			<p>Sat</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Leg Press Machine</li>
			    				<li>Pec Deck Machine</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    				    	<div class="date-info">
			    	<div class="col-md-3 col-sm-3">
			    		<div class="date">
			    			<p>05 Mar</p>
			    			<p>Sun</p>
			    		</div>
			    	</div>
			    	<div class="col-md-9 col-sm-9">
			    		<div class="video-names">
			    			<ul>
			    				<li>Preacher Bench</li>
			    				<li>Pull Up Bar</li>
			    				<li>Smith Machine</li>
			    				<li>Squat Rack</li>
			    			</ul>
			    		</div>
			    	</div>
			    	</div>

			    
			    </div>
			  </div>
			</div>	
					</div>
				</div>
				<a class="left carousel-control" href="#month-slide" data-slide="prev"><img src="http://exceptionaire.co/nutrafitDivi/wp-content/themes/Divi/images/montharrow-left.png" alt=""></a>
				<a class="right carousel-control" href="#month-slide" data-slide="next"><img src="http://exceptionaire.co/nutrafitDivi/wp-content/themes/Divi/images/montharrow-right.png" alt=""></span></a>
			</div>


				<div class="vid-sction col-lg-12" id="listvideo" >
				<div class="col-lg-6 cardwork">
				<h3>Cardio Workout Guides</h3>
					<div class="background-vid-pic">
					   <img src="https://i.ytimg.com/vi/qWy_aOlB45Y/sddefault.jpg" alt="">
					   </div>      
				  </div>
				  <div class="col-lg-6 arebicwork">
				  	<h3>Aerobics</h3>
				  	<div class="background-vid-pic">
				  	<img src="https://i.ytimg.com/vi/fcN37TxBE_s/sddefault.jpg" alt="">	
				  </div>
				  </div>

				 </div>
					
		</div>
	</div>


</section>


<style type="text/css" media="screen">

#listvideo{
	float: left;
	width: 100%;
	margin: 30px 0px;
	padding: 0px;
}
#listvideo .col-lg-6{
	float: left;
	padding: 0px;
	width: 50%;
}
#listvideo .col-lg-6.arebicwork{
	float: right;
	padding: 0 0 0 25px;
}
#listvideo h3{
	color: #333;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}
#listvideo .background-vid-pic img{
	width: 100%;
	height: 350px;
}
.bottom-content .nav .active a {
    border: none;
    background: #22a9e1;
    border:1px solid #22a9e1;
    border-radius: 0;
    color: #FFF;
    font-size: 16px;
    text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: subpixel-antialiased !important;
text-shadow: none;
}
.bottom-content .nav .active a:hover{border:1px solid #000 !important;}
.bottom-content .nav .active a:focus,.bottom-content .nav .active a:active{
	background: #22a9e1;
	border:1px solid #22a9e1;
	color:#fff;	
	
}

.bottom-content .nav a:hover{
	background: #000 !important;
	border:1px solid #000 !important;
	color:#FFF !important;
	
}
.bottom-content .nav > li {
    position: relative;
    display: block;
    width: 23%;
    margin-right: 2.65%;
    text-align: center;
}	

.bottom-content .nav > li:last-child {
    margin-right: 0;
}

.bottom-content .nav > li {
	border:1px solid #22a9e1;
	color:#2ea3f2;}

.bottom-content .nav-tabs > li > a{
	border-right: 0 !important;
	font-size: 16px;
	margin-right: 0;
	color: #22a9e1;
	padding: 10px 14px;
}
.plan-head {
    font-size: 20px;
    color: #FFF;
    background: #22a9e1;
    padding: 10px 0;
    margin-bottom: 0;
}
.top-content {
    width: 100%;
    float: left;
    text-align: center;
}
.bottom-content .nav li:hover {
    border-radius: 0;
    border: 1px solid #000;
}
.bottom-content .nav li:hover a{
	border-radius: 0;
}
.date-info {
    width: 100%;
    float: left;
    padding: 15px 0 0;
}
.date-info .col-md-3.col-sm-3,.date-info .col-md-9.col-sm-9 {
    padding-left: 0;
}

.date-info .col-md-3.col-sm-3{
	width: auto;
}

.date-info .date {
    width: 120px;
    float: left;
    border: 1px solid #22a9e1;
    text-align: center;
    padding: 4px 10px;
}
.date-info .date p {
    width: 100%;
    float: left;
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    line-height: normal;
}
.date-info .date p:last-child {
    color: #858585;
    font-style: italic;
    font-size: 18px;
}
.video-names {
    width: 100%;
    float: left;
}
.video-names ul {
    padding: 7px 0 0 20px;
    width: 100%;
    float: left;
}

.video-names li {
    width: auto;
    float: left;
    list-style-type: none;
    margin: 0 1% 0.5% 0;
    background: #eee;
    padding: 10px 19px;
    font-size: 16px;
    border-radius: 100px;
    color: #6e6e6e;
}
.bottom-content .nav-tabs {
    border-bottom: none;
}
#month-slide .carousel-control {
    width: auto !important;
}
#month-slide .left.carousel-control {
    box-shadow: 0 0 0 !important;
    background-image: none;
}
#month-slide .right.carousel-control {
    box-shadow: 0 0 0 !important;
    background-image: none;
    left: auto;
    right: 30px;
}
.month {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 17px;
    text-align: center;
    padding: 13px 10px;
    background: #eee;
    margin-bottom: 15px;
}

#month-slide .carousel-control .glyphicon-chevron-left,#month-slide .carousel-control .glyphicon-chevron-right,#month-slide .carousel-control .icon-next, #month-slide .carousel-control .icon-prev{
	top: 11% !important;
}

#month-slide .carousel-control .glyphicon-chevron-left,#month-slide .carousel-control .glyphicon-chevron-right, #month-slide .carousel-control .icon-next,#month-slide .carousel-control .icon-prev{
	font-size: 22px !important;
	color: #000 !important;
	opacity: 1 !important;
}
#month-slide .carousel-control {
    top: 74px !important;
    bottom: auto !important;
    float: left;
    left: 30px;
    opacity: 1;
}
#month-slide .carousel-control img {
    width: 10px;
    height: 20px;
}

@media screen and (min-width:320px) and (max-width: 1199px) {
.workout-plan .container {
    width:100%;
    padding: 0 15px;
}
.workout-plan .container .row {
    width:100%;
    margin: 0 0px;
}
@media screen and (min-width:320px) and (max-width: 880px) {
#listvideo .col-lg-6 {
    width:100%;
    padding: 0 0px;
    margin-bottom: 20px;
}
#listvideo .col-lg-6.arebicwork {
    float: left;
    padding: 0 0 0 0px;
    margin-bottom: 0px;
}
#listvideo .background-vid-pic img {
    width: 100%;
    height: 400px;
}
}
@media screen and (max-width: 880px) {
.date-info .col-md-9.col-sm-9 {
    padding: 0;
    width: 84%;
      float: left;
}
.date-info .col-md-3.col-sm-3 {
    width: 15%;
    float: left;
}
.date-info .date {
    width: 100%;
}
.video-names ul {
    padding: 7px 0 0 0px;
}
.video-names li{
	padding: 8px 16px;
}
}
@media screen and (max-width: 780px) {
.date-info .col-md-9.col-sm-9 {
    width: 80%; 
}
.video-names li{
	padding: 8px 14px;
	margin-bottom: 8px;
}

}	
@media screen and (max-width: 667px) {
.date-info .col-md-3.col-sm-3 {
    width: 25%;
    float: left;

}
.bottom-content{
	margin-bottom: 10px;
}
.date-info .col-md-9.col-sm-9 {
    width: 73%; 
}
@media screen and (max-width: 440px) {
.date-info .col-md-3.col-sm-3 {
    width: 100%;
    padding: 0px;
    float: left;
}
.date-info .col-md-9.col-sm-9 {
    width: 100%; 
}
.bottom-content .nav > li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 7px;
}
}
@media screen and (max-width: 380px) {
.video-names li {
    padding: 8px 14px;
    margin-bottom: 8px;
    float: left;
    width: 100%;
    text-align: center;
}
}
</style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>