@media all and (max-width: 1199px) {

}	

@media all and (max-width: 1167px) {

}	

@media all and (max-width: 1070px) {


}
@media only screen and (max-width: 1000px) {


}
@media only screen and (max-width:780px) {

}
@media only screen and (max-width:600px) {
#form.viewpalnform .container .viewplan_listing li.not-allow-start span.tooltip {
font-size: 20px;
margin-top: 60px;
padding: 5px 10px;
}
.viewpalnform p strong{line-height: 35px;}
}
@media only screen and (max-width:550px) {
.viewpalnform h2{font-size: 34px;}
}
@media only screen and (max-width:480px) {

.subscribe-already {
min-height: auto;margin: 0 0 20px !important;
top: 3px;
}
#form.viewpalnform .container .viewplan_listing li.not-allow-start span.tooltip {
font-size: 24px;
line-height: 44px;
margin-top: 60px;
padding: 5px 10px;
text-align: center;
width: 100%;
}
#form.viewpalnform img {
background-size: cover;
height: auto!important;
max-height: none!important;
min-height: 250px!important;
width: 100%;
}

}
@media only screen and (max-width:380px) {
#form.viewpalnform .container .viewplan_listing li.not-allow-start span.tooltip {
font-size: 22px;
line-height: 35px;
margin-top: 65px;
padding: 5px 10px;
text-align: center;
width: 100%;
}
}   
@media only screen and (max-width:340px) {
#form.viewpalnform .container .viewplan_listing li.not-allow-start span.tooltip{ font-size: 20px;margin-top: 60px;}
}


