/*
  Theme Name: Nap App
  Theme URL: http://demo.themeregion.com/napapp
  Author: ThemeRegion
  Author URI: http://www.themeregion.com
  Description: Nap app - App Landing bootstrap Template
  Version: 1.0
*/

/*=======================================================================
[Table of contents]
=========================================================================

1.	Typography
2.	navigation-section
3.	slider-section
4.	Features-section
5.	Description
6.	Choose Color
7.	Screenshots
8.	Pricing-section
9.	ownload-app
10.	Contact us

==========================================================================*/


/*========================
=======Typography=========
==========================*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4f4f4f;
	background-color: #fff;
}


ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navbar .btn.btn-primary {
    float: right;
    margin-top: 12px;
    padding: 8px 20px;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
	outline:none;
	outline-offset: 0;
	text-decoration:none;
	background: transparent;
}

a {
	color: #a0d48c;
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	color: #a0d48c;
}

h1 {
	font-size:36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
	text-transform:capitalize;
}

h1.site-title {
    margin: 5px 0px 0px;
}

p.site-description {
    margin: 0px 0px 5px;
}

.entry-summary table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.entry-summary table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.entry-summary table>tbody>tr>td,
.entry-summary table>tbody>tr>th,
.entry-summary table>tfoot>tr>td,
.entry-summary table>tfoot>tr>th,
.entry-summary table>thead>tr>td,
.entry-summary table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.padding{
	padding:90px 0;
}

.title-icon { font-size: 75px; }
.title-icon + h1 { margin-top: 0px; }

.feature-icon { font-size: 75px; }
.feature-icon + h2 { margin-top: 0px; }

.section-title {
	margin-bottom: 70px;
	padding-bottom: 0;
	position:relative;
}

.section-title h1 {
	font-size:48px;
	font-weight:700;
	margin-bottom:0;
	text-transform:capitalize;
	color:#43575d;
}

.na-preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/preloader.gif') center no-repeat #fff;
}

.entry-footer {
    margin-top: 10px;
}
.entry-footer .edit-link {
    border: 1px solid #a0d48c;
    padding: 5px 30px;
}

.page-content form#search-form {
    position: relative;
}
.page-content form#search-form input {
    height: 50px;
}
.page-content form#search-form .btn#search-submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-primary.btn-animated {
	font-size: 12px;
	font-weight: 700;
	padding: 17px 47px;
	background-color:transparent;
	text-transform: uppercase;
	border-color: #fff;
	border-width:3px;
	border-style:solid;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow:hidden;
	webkit-box-shadow:none;
	box-shadow:none;
	outline:none;
	letter-spacing:2px;
}

.btn-primary.btn-animated:hover,
.btn-primary.btn-animated:focus {
	background-color:transparent;
	outline:none;
	border:3px solid #a0d48c;
}

.btn-primary{
	background-color:#a0d48c;
	color:#fff;
	border:0;
	font-size:12px;
	text-transform:uppercase;
}

.btn-primary:hover {
	background-color:#fff;
	color:#a0d48c
}

.parallax-section {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height:437px;
	color:#fff;
	position:relative;
}

.overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.form-control {
  height: 50px;
  padding:6px 20px;
  color: #000;
  border:1px solid #ededed;
  border-radius:0;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  background-color:#fff;
  font-weight:500;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border:1px solid #a0d48c;
  background-color:#fff;
}

textarea.form-control {
    padding: 15px 20px;
}

.form-group {
  margin-bottom: 20px;
}

.admin-bar .navbar.navbar-fixed-top {
    margin-top: 30px;
}

.navbar-brand {
	min-height: 50px;
	height: auto;
}

.navbar-toggle {
	border: 1px solid #fff;
	margin-top: 13px;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

 .navbar-toggle,
.navbar-fixed-top .navbar-toggle {
	border: 1px solid #fff;
}

.navbar-toggle .icon-bar,
.navbar-fixed-top .navbar-toggle .icon-bar {
	background-color: #fff;
}

.image-bg {
	background-size: cover;
    background-repeat: no-repeat;
	color:#fff;
	position:relative;
}

.image-bg .section-title h1 {
	color:#fff;
}

.section-title img {
	display:inline-block;
}

.overlay-bg {
	background: rgb(40,171,149);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4YWI5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YmQxYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(40,171,149,1) 0%, rgba(123,209,160,0.90) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,171,149,1)), color-stop(100%,rgba(123,209,160,0.90)));
	background: -webkit-linear-gradient(left,  rgba(40,171,149,1) 0%,rgba(123,209,160,0.90) 100%);
	background: -o-linear-gradient(left,  rgba(40,171,149,1) 0%,rgba(123,209,160,0.90) 100%);
	background: -ms-linear-gradient(left,  rgba(40,171,149,1) 0%,rgba(123,209,160,0.90) 100%);
	background: linear-gradient(to right,  rgba(40,171,149,1) 0%,rgba(123,209,160,0.90) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28ab95', endColorstr='#7bd1a0',GradientType=1 );
}

.error-404 h1 {
    font-size: 60px;
}

.error-404 {
    text-align: center;
}

.whatsit h1,
.whatsit h2,
.section-title h1,
.feature h2,
#testimonial-slider .item h2,
.twitter-feed h1,
#download-apps h1 {
	letter-spacing:-2px;
	font-weight:700;
}

.na-default-page .entry-title {
    margin: 0px 0px 20px;
}

.post-password-required {
    background-color: rgba(245, 245, 245, 0.4);
    text-align: center;
    padding: 50px 0px;
}

/*Dropdown CSS*/
ul.sub-menu {
  	position: absolute;
  	top: 100%;
  	left: 0;
  	background-color:#fff;
  	list-style: none;
  	margin: 0;
  	min-width: 180px;
  	border-top: 2px solid #A6D48E;
  	box-shadow: 0 3px 3px rgba(0,0,0,.1);
  	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
  	display: none;
  	z-index: 999;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
  	display: block;
}

#navigation .navbar-nav li ul.sub-menu li a {
  	display: block;
  	color: #767676;
  	padding: 7px 12px;
  	font-size: 14px;
  	text-transform:uppercase;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*End Drpdown Menu CSS*/

/*==============================
=========Home-section=========
================================*/

#home-section {
	background-color:#7e90a2;
	background-image:url(../images/bg/home-bg.jpg);
	color:#fff;
	height:700px;
}

.home-content.padding{
	padding:120px 0;
}

.home-content h2{
	text-transform:initial;
	font-weight:300;
	margin-bottom:35px;
	max-width:400px;
	color: #fff;
}

.home-content .btn-primary{
	margin-right:25px;
	margin-bottom:50px;
}

.app-icons li a {
	padding:15px;
	font-size:26px;
	height:65px;
	width:65px;
	display:block;
	color: #fff;
	background-color:transparent;
}

.app-icons li a:hover {
	background-color:rgba(0, 0, 0, 0.40);
	color:#fff;
}


/*==============================
=========Navigation-section=========
================================*/

#navigation, .navbar-fixed-top {
	background-color:rgba(67, 87, 93, 0.90);
}

.navbar {
	min-height:60px;
	margin-bottom:0;
}

.navbar-fixed-top {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.navbar-fixed-top .navbar-collapse {
	padding-left:15px;
	padding-right:15px;
}

.navbar-nav>li>a {
	text-transform:uppercase;
	font-size:14px;
	padding:20px 12px;
	color: #fff;
}

.navbar-nav li a.btn-primary{
	padding: 2px 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight:700;
	margin-top: 10px;
	margin-left: 25px;
}

.navbar-nav li a.btn-primary:hover {
	background-color:#fff;
	color:#a0d48c;
}

.navbar-nav li.active a{
	color:#a0d48c;
}



/*==============================
=========whatsit-section=========
================================*/

.whatsit {
	padding: 30px 0 30px 30px;
    text-align: justify;
}

.whatsit h1 {
	font-size:48px;
	font-weight:700;
	color:#43575d;
}

.whatsit h2 {
	font-size:30px;
	font-weight:300;
	margin-bottom:25px;
	text-transform:initial;
	color:#43575d;
}


/*===============================
=========whats-special-section===
================================*/

#whats-special {
	position:relative;
	background-image:url(../images/bg/special-bg.jpg);
	padding-bottom:0;
	overflow:hidden;
}

.special-content {
	margin-top:80px;
}

.special-content h2 {
	margin-bottom:20px;
}

.special-image {
	text-align:center;
	margin-bottom:-150px;
}

.special-image img {
	display:inline-block;
}

/*================================
=========compatibility-section====
================================*/
#compatibility {
    overflow: hidden;
}
.compatibility {
	padding:40px 0;
}

.compatibility .os {
	position:relative;
}

.left-side  {
	border-right:1px solid #dbdbdb;
}

.left-side .compatibility .os {
	padding-right:150px;
}

.right-side .compatibility .os {
	padding-left:150px;
}

.compatibility .os-image {
	position:absolute;
	top:40px;
}

.left-side  .compatibility .os-image {
	right:35px;
}

.right-side .compatibility .os-image {
	left:35px;
}

.compatibility h2 {
	margin-bottom:15px;
	color:#43575d;
}

.compatibility a{
	color:#797877;
	font-weight:600;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'Ubuntu', sans-serif;
	display:inline-block;
	margin-top:10px;
}

.compatibility a:hover {
	color:#a0d48c;
}

/*================================
=========video-section ====
================================*/

#video-section {
	background-image:url(../images/bg/video-bg.jpg);
}

.video {
	position:relative;
}

.video img {
	display:inline-block;
}

.video .video-link {
	position:absolute;
	top:50%;
	left:50%;
	font-size:120px;
	line-height:120px;
	margin-top:-78px;
	margin-left:-60px;
	color: #fff;
}


/*================================
=========features-section ====
================================*/
#features {
	padding-bottom:35px;
}

.feature {
	margin-bottom:60px;
}

.feature img {
	display:inline-block;
	-webkit-filter: grayscale(100%) contrast(0);
	-moz-filter: grayscale(100%) contrast(0);
	-o-filter: grayscale(100%) contrast(0);
	-ms-filter: grayscale(100%) contrast(0);
	filter: grayscale(100%) contrast(0);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.feature-icon i {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.feature:hover img {
	-webkit-filter: grayscale(0) contrast(100%);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}

.feature h2{
	margin-top:5px;
	margin-bottom:25px;
	color:#43575d;
}



/*================================
=========Call-to-action ==========
================================*/


#call-to-action {
	background-image:url(../images/bg/action-bg.jpg);
	overflow:hidden;
}

.action-content {
	margin-top:100px;
	max-width:500px;
}

.action-content h1 {
	font-size:48px;
}

.action-content h2 {
	font-size:26px;
	font-weight:300;
	text-transform:initial;
	margin-bottom:35px;
}


/*================================
========= Screenshots Section ==========
================================*/
#screenshot-slider {
	margin-left:-7.5px;
}

.screenshot {
	margin:15px;
	text-align:center;
}

.screenshot img {
	display:inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.screenshot img:hover {
	opacity:0.6;
}

.owl-carousel .owl-dots {
	text-align:center;
	margin-top:30px;
}
.owl-carousel .owl-dot{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-carousel .owl-dot span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	background-color:#a0d48c;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.owl-carousel .owl-dot.active span,
.owl-carousel .owl-dot:hover span{
	background-color:#43575d;
}



/*================================
========= Price Section ==========
================================*/

#price {
	background-image:url(../images/bg/price-bg.jpg);
}

.price {
	background-color:#fff;
	color:#4f4f4f;
	padding-top:30px;
	padding-bottom:60px;
}

.price h1 {
	font-size:60px;
	color:#000;
}

.price h2 {
	font-size:20px;
	color:#000;
	margin-top:0;
}

.price ul {
	padding-top:20px;
	padding-bottom:45px;
	min-height:257px;
}

.price ul li {
	margin-top:10px
}

.price .btn-primary {
	color:#000;
	border-color:#a0d48c;
}

.price .btn-primary:hover {
	border-color:#a0d48c;
	color:#a0d48c;
}

.price.featured {
	background-color:#43575d;
	color:#fff;
}

.price.featured h1,
.price.featured h2 {
	color:#fff;
}

.price.featured .btn-primary {
	border-color:#fff;
	color:#fff;
}

.price.featured .btn-primary:hover {
	color:#a0d48c;
	border-color:#a0d48c;
}


/*================================
=========Testimonial Section ====
================================*/
#testimonial-slider .item img {
	display:inline-block;
	border-radius:4px;
}

#testimonial-slider .item h2 {
	margin-bottom:15px;
	color:#43575d;
}

#testimonial-slider .item ul {
	margin-bottom:15px;
}

#testimonial-slider .item ul li {
	color:#ffdd68;
}

#testimonial-slider .item> p {
	max-width:750px;
	display:inline-block
}


/*=========Carousel Fade==========*/

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}



/*================================
=========Team Section ====
================================*/
#team {
	background-image:url(../images/bg/team-bg.jpg);
	padding-bottom:25px;
}

.team-info {
	font-weight:700;
	font-size:14px;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transform: translateY(78px);
	-webkit-transform: translateY(78px);
	-o-transform: translateY(78px);
	-ms-transform: translateY(78px);
	transform: translateY(78px);
}

.team:hover .team-info {
	opacity:1;
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.team img {
	display:inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team:hover img {
	opacity:0.4;
}

.team-info h2 {
	margin-bottom:0px;
	margin-top:15px;
	color: #fff;
}

.team-info li a {
	font-size:16px;
	color: #fff;
}

.team-info li a:hover {
	color:#43575d;
}

.team-slider-left, .team-slider-right {
	position:absolute;
	top:0;
	height:174px;
	width:70px;
	background-color:#43575d;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-slider-left i,
.team-slider-right i {
	font-size: 45px;
	position: absolute;
	top: 50%;
	left:50%;
	line-height: 45px;
	margin-top: -25px;
}

.team-slider-left i {
	margin-left:-10px;
}

.team-slider-right i {
	margin-left:-5px;
}

.team-slider-left {
	left:0;
}

.team-slider-right {
	right:0;
}

.team-slider-left:hover,
.team-slider-right:hover {
	background-color:#fff;
	color:#43575d;
}

#team-slider {
	padding:0 80px;
}

/*================================
=========Twitter Section ====
================================*/

#twitter {
	overflow:hidden;
}

.twitter-feed img {
	display:inline-block;
}

.twitter-feed h1 {
	font-size:48px;
	margin-bottom:40px;
	color:#43575d;
}

.twitter-feed a {
	color:#a0d48c;
}

/*===============================
======== Download-apps =========
================================*/

#download-apps {
	background-image:url(../images/bg/apps-bg.jpg);
}

#download-apps h1 {
	font-size:48px;
	margin-bottom:25px;
}

.apps ul {
	margin-top :35px;
}

.apps ul li a {
	font-size:36px;
	padding:20px;
	color: #fff;
}

/*===============================
======== Contact Section =========
================================*/

#contact {
	overflow:hidden;
}

#main-contact-form .btn-primary {
	color:#000;
	margin-top:35px;
	border-color:#a0d48c;
}

#main-contact-form .btn-primary:hover {
	border-color:#a0d48c;
	color:#a0d48c;
}

#footer {
	position:relative;
	padding:35px 0 25px;
	color:#fff;
}

#footer a {
	font-weight:700;
	color: #ffffff;
}

#footer .footer-menu li a {
	font-weight:400;
}

#footer .footer-menu li a:hover, #footer .copyright a:hover {
	color:#43575d;
}


/*Magnific-popup overwrite CSS*/

.mfp-figure {
    background-color: #fff;
}

img.mfp-img {
	padding:12px;
}

.mfp-image-holder .mfp-close {
	top:-35px;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor:pointer;
}

.mfp-counter {
	right: 50%;
    color: #fff;
    top: 50px;
    margin-right: -20px;
}



/*========================
=======Preloader CSS======
==========================*/
.preloader{
  display: table;
  background: #fff;
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#loaderImage {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}

#canvas {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}





/*========================
=======demo-chooser======
==========================*/

.demo-chooser {
	width: 175px;
	left: -175px;
	position: fixed;
	top: 50%;
	margin-top:-78px;
	z-index: 99999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.demo-chooser.opened {
	left: 0;
}

.demo-chooser.opened .toggler {
	color:#a0d48c;
}

.demo-chooser .toggler {
	position: absolute;
	top: 0;
	right: -40px;
	display: inline-block;
	background-color: #f5f5f5;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	color: #3A3434;
	border-radius: 0 4px 4px 0;
}

.demo-chooser-inner {
	position: relative;
	background-color: #f5f5f5;
	padding:15px 20px;
}

.demo-chooser-inner h4 {
	margin: 0px 0 15px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #333;
}

.demo-chooser-inner ul {
	list-style: none;
	padding: 0;
	margin: -5px;
}

.demo-chooser-inner ul li {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.demo-chooser-inner ul li  a {
	padding: 5px 7px;
    background-color: #fcfcfc;
    margin-bottom: 5px;
    display: block;
	color:#43575d;
}

.demo-chooser-inner ul li  a:hover,
.demo-chooser-inner ul li.active a {
	color:#a0d48c;
}

.demo-chooser-inner ul li.active a {
	cursor:default;
}


/*========================
=======Blog ======
==========================*/
.post {
    margin-bottom: 30px;
    overflow: hidden;
}

.post .entry-content {
	padding: 30px;
	background-color:rgba(245, 245, 245, 0.4);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.entry-thumbnail img {
    margin: auto;
}

.comment-list .pingback {
    margin-bottom: 25px;
    border-bottom: 1px dotted;
}

.post.sticky .entry-content {
    border-bottom: 5px solid #a0d48c;
}

.entry-summary ul,
.entry-content ul,
.comment-content ul {
    margin-bottom: 10px;
    padding-left: 40px;
    list-style: disc;
}

.entry-meta ul {
    padding-left: 0px;
}

.post:hover .entry-content {
	background-color:rgba(245, 245, 245, 0.8);
}

.entry-title a {
	color:#4F4F4E;
}

.entry-meta i {
	color:#A6D48E
}

h2.entry-title {
    margin-bottom: 20px;
    margin-top: 0;
}

.entry-header {
}

.post-meta {
	margin-top: 25px;
	overflow: hidden;
	padding: 10px 0;
	font-size: 15px;
}

.entry-meta, .read-more {
    display: inline-block;
}

.read-more {
    float: right;
}

.read-more i {
	margin-left: 7px;
}
.entry-meta li {
	margin-right: 10px;
}

.entry-meta li:last-child {
	margin-right: 0;
}

.entry-meta li a{

}

.entry-meta li i{
	margin-right: 7px;
}

.post-meta a {
	color:#4F4F4E
}

.widget {
    margin-bottom: 30px;
    overflow: hidden;
}
.widget ul li {
    border-bottom: 1px dotted #ddd;
    padding: 5px 0px;
    margin: 10px 0px;
}
.widget.widget_search form {
	position: relative;
}

.widget_search button[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border-radius: 0;
    background-color: #A6D48E;
    color: #fff;
}

.widget h3.widget_title {
    margin-bottom: 30px;
    background-color: #43575d;
    color:#fff;
    padding: 15px 20px;
    margin-top: 0;
}

.widget_content li a, .widget a {
    color: #4F4F4E;
}

.widget-content li a:hover {
	color: #a0d48c;
}

.widget-content li a {
    color: #4F4F4E;
    padding-left: 15px;
}

.widget-content li {
    margin: 10px 0;
    position: relative;
}

.widget-content> li:first-child {
	margin-top: 0;
}

.widget-content li:before {
	content: "";
	position: absolute;
	left: 0;
	top:10px;
	width: 5px;
	height: 5px;
	background-color: #A6D48E;
}

.widget ul.children {
    padding-left: 25px;
}

.widget img {
	max-width: 100%;
}

.widget .textwidget img {
	max-width: 100%;
	margin-top: 10px;
}

.widget .entry-thumbnail {
    float: left;
    width:90px;
    height: auto;
}

.widget .entry-title {
	float: right;
	width: 55%;
	margin-top: 0;
	font-size: 16px;
}
.latest-post {
    margin-bottom: 20px;
    overflow: hidden;
}
.widget-content.tag-cloud a {
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
}
.widget select {
    border:1px solid #f0f3f5;
    padding:10px 15px;
    width:100%;
    height:50px;
}
.widget select:focus {
    border:1px solid #f0f3f5;
	outline: 0px;
}
.widget select option {
    padding:6px;
}
.widget table {
    width:100%;
}
.pagination>li>a, .pagination>li>span {
	background-color:transparent;
	border:0;
	color:#4F4F4E;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #A6D48E;
    background-color:transparent;
    border:0;
}
.pagination-section .pagination>.active>a,
.pagination-section .pagination>.active>a:focus,
.pagination-section .pagination>.active>a:hover,
.pagination-section .pagination>.active>span,
.pagination-section .pagination>.active>span:focus,
.pagination-section .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #A6D48E;
    border-color: #A6D48E;
}

.post .social-share {
	margin-top: 30px;
}

.comment .avatar {
    float: left;
    display: block;
    margin-right: 1%;
    margin-bottom: 10px;
}

.comment .comments {
    float: left;
    width: 85%;
}

ul.comments-list {
    overflow: hidden;
    margin-bottom: 50px;
}

.avatar img {
    width: 65px !important;
    height: 65px;
    background-color: #f0f0f0;
}

.comments h4 {
    margin-top: 0;
    font-size: 16px;
}

.comments h4 span {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
}
.prev-next {
    margin: 30px 0;
    overflow: hidden;
}

.comment-wrapper h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
}
.prev-next a {
	color:#4F4F4E;
}

.comment-wrapper ul.children {
	padding-left: 25px;
	margin-left: 0;
}
.comment-wrapper {
    margin-top: 50px;
}
.comment-wrapper .btn.btn-primary {
    padding: 14px 30px;
    margin-top: 25px;
    border:1px solid #A6D48E;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.comment {
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
}
li.post-comment:last-child {
	margin-bottom: 0;
}
.comments .btn-reply {
	color:#4F4F4E;
	font-size: 14px;
	opacity: 0;
}

.comments:hover .btn-reply  {
	opacity: 1;
}
.comments .btn-reply:hover {
	color: #a0d48c;
}
/*========================
=======style-chooser======
==========================*/

.style-chooser {
	width: 180px;
	left: -180px;
	position: fixed;
	top: 50%;
	margin-top:-70px;
	z-index: 99999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.style-chooser.opened {
	left: 0;
}

.style-chooser .toggler {
	position: absolute;
	top: 0;
	right: -50px;
	display: inline-block;
	background-color: #a0d48c;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.style-chooser.opened .toggler {
	background-color: #f5f5f5;
	color: #a0d48c;
}


.style-chooser-inner {
	position: relative;
	background-color: #f5f5f5;
	padding:25px;
}

.style-chooser-inner h4 {
	margin-top: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #333;
	font-size: 14px;
}

.style-chooser-inner ul {
	list-style: none;
	padding: 0;
	margin: -5px;
}

.style-chooser-inner ul li {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.style-chooser-inner ul li a {
	padding: 5px 7px;
	background-color: #fcfcfc;
	margin-bottom: 5px;
	display: block;
	color: #43575d;
}

.style-chooser-inner ul li a:hover,
.style-chooser-inner ul li.active a {
    color: #a0d48c;
}

.navbar-header {
	color:#fff;
}
